.progress-container {
  height: 2rem;
  background-color: var(--card-background-color);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: solid 1px var(--border-color);
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 4px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.progress-text,
.progress-percentage {
  position: absolute;
  color: var(--primary-button-text-color);
  font-size: 13px;
  font-weight: 600;
}

.progress-text {
  left: 8px;
}

.progress-percentage {
  right: 8px;
}
