  <div class="container">
      <h1 class="title">El Chueco</h1>
      <div class="form-container">
        <h2 class="subtitle">Crear Cuenta</h2>
        <p class="description">Regístrate para comenzar a usar El Chueco</p>
        <button class="google-button">
          <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo" />
          Registrarse con Google
        </button>
        <p class="divider">O REGISTRARSE CON EMAIL</p>
        <form>
          <label for="nombre">Nombre Completo</label>
          <input id="nombre" type="text" placeholder="ej: Pedro Perez" />
    
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="ej: prueba@ejemplo.com" />
    
          <label for="password">Contraseña</label>
          <div class="password-container">
            <input [type]="mostrarPassword ? 'text' : 'password'" id="password" placeholder="ej: 12345" />
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-button">
              <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png" alt="toggle" width="20" />
            </button>
          </div>
    
          <fbutton
            [label]="'Iniciar Sesión'"
            [color]="'primary'"
            [type]="'button'"
            [size]="'md'"
          ></fbutton>
        </form>
        <p class="login-text">
          ¿Ya tienes una cuenta?
          <a href="#">Inicia Sesión</a>
        </p>
      </div>
    </div>
    