<div class="options-container">
  <fbutton
    [color]="'tertiary'"
    [label]="'Sesiones Activas'"
    [icon]="''"
    (onClick)="optionSelected.emit('Sesiones Activas')"
  ></fbutton>
  <fbutton
    [color]="'tertiary'"
    [label]="'Resumen Rutinas'"
    [icon]="''"
    (onClick)="optionSelected.emit('Resumen Rutinas')"
  ></fbutton>
  <fbutton
    [color]="'tertiary'"
    [label]="'Satisfacción'"
    [icon]="''"
    (onClick)="optionSelected.emit('Satisfacción')"
  ></fbutton>
  <fbutton
    [color]="'tertiary'"
    [label]="'Notificaciones'"
    [icon]="''"
    (onClick)="optionSelected.emit('Notificaciones')"
  ></fbutton>
</div>
