<header class="user-header">
  <div class="header-left">
    <fbutton
      id="menu-button"
      [color]="'action'"
      [size]="'none'"
      [isSquare]="true"
      icon="fa-solid fa-bars"
      (onClick)="toggleSidebar()"
    ></fbutton>
    <h1 class="app-title">El Chueco</h1>
  </div>

  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Busca recursos, reportes o pacientes"
      class="search-input"
      (keyup.enter)="search()"
    />
    <button class="search-button" (click)="search()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="header-right">
    <!-- <fbutton
      [color]="'action'"
      [size]="'none'"
      [isSquare]="true"
      icon="fa-solid fa-ellipsis-vertical"
      (onClick)="openSettings()"
    ></fbutton> -->
    <button class="user-profile" (click)="openUserMenu()">
      <img src="assets/user-ico.png" alt="User" class="profile-image" />
    </button>
  </div>
</header>

<app-menu-modal [isOpen]="isMenuOpen" (close)="closeMenu()"></app-menu-modal>
