.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-icon {
  justify-content: left;
}

.search-bar {
  justify-content: center;
}

.user-profile {
  justify-content: right;
}

app-fbutton {
  margin-right: 20px;
  background-color: var(--primary-color);
  padding: 0px;
}
