.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-background);
  color: white;
  height: 60px;
  padding: 0 0.8rem;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-icon,
.search-bar,
.user-profile {
  display: flex;
  gap: 0.5rem;
}

.menu-icon {
  justify-content: flex-start;
}

.search-bar {
  justify-content: center;
  flex: 1; /* Permite que el campo de búsqueda ocupe espacio flexible */
}

.search-bar input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-profile {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.profile-image {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
