<header class="header">
  <div class="menu-icon" aria-label="Menu">
    <app-fbutton [label]="''" [icon]="'fa-solid fa-bars'"></app-fbutton>
    <h2>El Chueco</h2>
  </div>
  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Buscar" />
  </div>
  <div class="user-profile" aria-label="User Profile">
    <app-fbutton
      [label]="''"
      [icon]="'fa-solid fa-ellipsis-vertical'"
    ></app-fbutton>
    <img src="path-to-user-pfp.jpg" alt="User Profile Picture" />
  </div>
</header>
