.pricing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 5rem;
  background: var(--background-color);

  .card {
    flex: 1 0 280px;
    background: var(--card-background-color);
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
    min-width: 260px;


    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .price {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: -1.4rem;
      color: var(primary-text-color);

      .currency {
        font-size: 1.2rem;
        vertical-align: top;
      }

      .amount {
        font-size: 2.9rem;
        font-weight: bold;
        color: var(primary-text-color);
      }

      .unit {
        font-size: 1rem;
        color: #555;
        margin-left: 0.3rem;
        color: var(primary-text-color);
      }
    }

    ul {
      text-align: left;
      margin: 1rem 0 2rem;
      padding-left: 1rem;

      li {
        margin-bottom: 0.5rem;
        color: #444;
      }
    }

    .subtitle {
      font-size: 0.9rem;
      color: #888;
      margin-bottom: 0.5rem;
    }

    .description {
      font-size: 0.95rem;
      color: #444;
      margin-bottom: 1rem;
    }

    .buy-button {
      width: 100%;
      min-width: 150px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      display: inline-flex;
      justify-content: center;
    }

    &.premium {
      background-color: var(--primary-color);
      color: var(--secondary-text-color);

      .price .unit {
        color: var(--secondary-text-color);
      }

      ul li {
        color: var(--secondary-text-color);
      }

      .buy-button {
        color: #333;
      }
    }
  }
}

@media (max-width: 768px) {
  .pricing-container {
    flex-direction: column;
    align-items: center;

    .card {
      width: 90%;
      max-width: 350px;
    }
  }
}
