<div class="display_row_div">
  <div class="card" id="current_sessions" *ngIf="showCurrentSessions">
    <card-header
      [title]="'Sesiones en curso'"
      (close)="showCurrentSessions = false"
    ></card-header>
    <div class="scrollable">
      <session
        [pfp]="'assets/user-ico.png'"
        [name]="'Walter White'"
        [routine]="'Rutina de pierna avanzada'"
      >
      </session>
      <session
        [pfp]="'assets/user-ico.png'"
        [name]="'Walter White'"
        [routine]="'Rutina avanzada'"
      >
      </session>
      <session
        [pfp]="'assets/user-ico.png'"
        [name]="'Walter White'"
        [routine]="'Rutina de pierna'"
      >
      </session>
      <session
        [pfp]="'assets/user-ico.png'"
        [name]="'Walter White'"
        [routine]="'pierna avanzada'"
      >
      </session>
      <session
        [pfp]="'assets/user-ico.png'"
        [name]="'Walter White'"
        [routine]="'Rutina'"
      >
      </session>
    </div>
  </div>
  <div
    class="display_column_div"
    *ngIf="showRoutineSummary || showPatientSatisfaction"
  >
    <div class="card" id="routine_summary" *ngIf="showRoutineSummary">
      <card-header
        [title]="'Resumen de Rutinas'"
        (close)="showRoutineSummary = false"
      ></card-header>
      <div class="graphics-content">
        <graphics></graphics>
      </div>
    </div>
    <div class="card" id="patient_satisfaction" *ngIf="showPatientSatisfaction">
      <card-header
        [title]="'Satisfacción de rutinas de los pacientes'"
        (close)="showPatientSatisfaction = false"
      ></card-header>
      <div class="content">
        <img
          class="satisfaction-img"
          src="assets/gr-barras-satisfaccion.png"
          alt="grafico de barras"
        />
      </div>
    </div>
  </div>
  <div class="card" id="notifications" *ngIf="showNotifications">
    <card-header
      [icon]="'fa-solid fa-circle-info'"
      [title]="''"
      (close)="showNotifications = false"
    ></card-header>
    <div class="scrollable">
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
      <notification
        [sender]="'John Doe'"
        [content]="'Lorem ipsum dolor sit amet'"
      ></notification>
    </div>
  </div>
</div>
