.faq-container {
  margin: 4rem auto 0 0;
  padding: 0 1.5rem;
  min-height: calc(100vh - 4rem);
}

.faq-header {
  text-align: center;
  margin-bottom: 3rem;
}

.how-it-works {
  color: var(--primary-color);
}

.faq-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 1.5rem 0;
  color: var(--primary-text-color);
}

.faq-items {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;

  h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text-color);
    margin: 0;
  }

  &:hover h3 {
    color: var(--primary-color);
  }
}

.toggle-icon {
  margin-right: 0.7rem;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.faq-answer {
  padding: 0 0 1.5rem 2rem;

  p {
    color: #4b5563;
    margin: 0;
  }
}

.divider {
  height: 1px;
  background-color: #e5e7eb;
  width: 100%;
}

.faq-item:last-child .divider {
  display: none;
}
