.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11.8rem;
  background-color: var(--background-color, #faf8f7);
  text-align: center;
  box-sizing: border-box;
}

.success-card {
  background-color: white;
  padding: 2rem 2rem;
  margin-top: -15rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  max-width: 500px;
  width: 100%;
}

.success-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}

.message {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.help {
  font-size: 0.8rem;
  color: #444;
  margin-bottom: 2rem;

  a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.home-button {
  display: flex;
  justify-content: center;
  padding: 0.1rem 6rem;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Ícono personalizado dentro del botón */
::ng-deep fbutton .custom-home-icon {
  background-image: url('/assets/home-ico.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  margin-bottom: 4px;
  display: inline-block;
}

/* ✅ Responsive para pantallas menores a 480px */
@media (max-width: 480px) {
  .success-container {
    padding: 2rem 1rem;
  }

  .success-card {
    padding: 1.5rem;
  }

  .home-button {
    padding: 0.1rem 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .message, .help {
    font-size: 0.85rem;
  }
}
