
<div class="login-container">
    <h1 class="title">Unirse a una sesión</h1>
    <p class="subtitle">Introduzca el código proporcionado por su fisioterapeuta</p>
    <div class="form-group">
      <input type="text" placeholder="ej: 123456" class="code-input" />
      <fbutton class="join-button"
        [label]="'Unirse'"
        [color]="'primary'"
        [type]="'button'"
        [size]="'lg'"
        [routeTo]="'/login/camera'"
        class="center-button"
      ></fbutton>
    </div>
  </div>