* {
  //   border: 1px solid black;
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 1rem 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 30px;
}

.navigation {
  .menu-items {
    display: flex;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;

    li {
      margin: 0 0.5rem;

      a {
        color: var(--secondary-text-color);
        text-decoration: none;
        font-size: 0.9rem;
        transition: all 0.3s ease;
        padding: 0.5rem 1rem;
        border-radius: 8px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: var(--secondary-text-color);
          opacity: 1;
        }
      }
    }
  }
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}
