<header class="header white-text">
  <div class="header-container">
    <nav class="navigation">
      <ul class="menu-items">
        <li><a href="#">¿Qué es?</a></li>
        <li><a href="#">¿Cómo funciona?</a></li>
        <li><a href="#">Fisioterapeutas</a></li>
        <li><a href="#">Comentarios</a></li>
        <li><a href="#">Q&A</a></li>
      </ul>
    </nav>

    <div class="auth-buttons">
      <fbutton 
        [label]="'Iniciar Sesión'"
        [color]="'secondary'"
        [size]="'sm'"
        [onClick]="navigateToLogin"
      ></fbutton>
      <fbutton routerLink="/register"
        [label]="'Registrarse'"
        [color]="'primary'"
        [size]="'sm'"
      ></fbutton>
    </div>
  </div>
</header>
