<div class="container">
  <h1>Custom Dropdown Example</h1>

  <div class="example-section">
    <h2>Área Objetivo</h2>
    <fdropdown
      labelText="Select an option"
      labelField="name"
      [options]="options"
      [model]="selectedValue"
      (selectChange)="onSelectChange($event)"
    >
    </fdropdown>
    <p *ngIf="selectedValue">Selected value: {{ selectedValue }}</p>
  </div>

  <div class="example-section">
    <h2>With Error</h2>
    <fdropdown
      labelText="Select with error"
      [options]="options"
      [model]="selectedValue"
      labelField="name"
      [showError]="true"
      errorMessage="This field is required"
      [required]="true"
      (selectChange)="onSelectChange($event)"
    >
    </fdropdown>
  </div>

  <div class="example-section">
    <h2>With Suggestion</h2>
    <fdropdown
      [options]="options"
      labelField="Select with suggestion"
      [showSuggestion]="true"
      suggestionIcon="fa fa-lightbulb"
      suggestionMessage="Choose the best option for you"
    >
    </fdropdown>
  </div>

  <div class="example-section">
    <h2>Disabled</h2>
    <fdropdown
      [options]="options"
      labelField="Disabled dropdown"
      [disabled]="true"
      [model]="options[2]"
    >
    </fdropdown>
  </div>

  <div class="example-section">
    <h2>Reactive Form</h2>
    <form [formGroup]="form">
      <fdropdown
        [options]="options"
        labelText="Form Dropdown"
        labelField="name"
        [model]="form.get('dropdown')?.value"
        (selectChange)="form.get('dropdown')?.setValue($event)"
        [showError]="
          !!(form.get('dropdown')?.invalid && form.get('dropdown')?.touched)
        "
        errorMessage="This field is required"
        [required]="true"
      >
      </fdropdown>
    </form>
  </div>
</div>
