// src/app/app.component.scss

// Estilos base para tipografía
:host {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #faf7f6;
  display: block;
}

// Encabezados
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 2rem;
  color: #444;
}

h3 {
  font-size: 1.75rem;
  color: #555;
}

h4 {
  font-size: 1.5rem;
  color: #666;
}

h5 {
  font-size: 1.25rem;
  color: #777;
}

h6 {
  font-size: 1rem;
  color: #888;
}

// Párrafos
p {
  font-size: 1rem;
  margin-bottom: 1em;
  color: #444;
}

// Negrita y cursiva
strong {
  font-weight: 600;
  color: #000;
}

em {
  font-style: italic;
  color: #555;
}
