.btn {
  align-items: center;
  border-radius: 8px;
  padding: 10px 24px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  justify-items: center;
}

.btn:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--primary-button-hover-color);
  color: var(--primary-button-text-color);
}

.primary {
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.secondary {
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-text-color);
}

.sm {
  font-size: 0.9rem;
  padding: 0.25rem 1rem;
  height: 32px;
}

.md {
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  height: 38px;
}

.lg {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  height: 45px;
}

.ml-2 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 8px;
}

[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}
