<button
  [type]="type"
  [class]="color + ' ' + size"
  [disabled]="disabled || loadingDisabled"
  (click)="onClick()"
  class="btn"
>
  <!-- Condicional para mostrar icono y texto -->
  <i *ngIf="icon && !loading" [class]="icon" [class]="iconPosition === 'left' ? 'mr-2' : 'ml-2'"></i>

  <span *ngIf="loading && !(loadingIconPosition === 'right')">
    {{ loadingText }}
  </span>

  <!-- Icono de carga -->
  <i *ngIf="loading" [class]="loadingIcon" [class]="loadingIconPosition === 'left' ? 'mr-2' : 'ml-2'" [class]="'fa-spin ' + loadingSize"></i>

  <span *ngIf="loading && loadingIconPosition === 'right'">
    {{ loadingText }}
  </span>

  <!-- Texto del botón -->
  <span *ngIf="!loading">{{ label }}</span>
</button>
