<button
  (click)="handleClick()"
  [type]="type"
  [class]="color + ' ' + size"
  [disabled]="disabled || loadingDisabled"
  class="btn"
  [ngClass]="[
    isSquare ? 'square-' + size : '',
    classSelected ? 'selected-' + color : '',
    isTransparent ? 'transparent' : ''
  ]"
>
  <i
    *ngIf="icon && !loading"
    [class]="
      (label ? (iconPosition === 'right' ? 'ml-2' : 'mr-2') : '') + ' ' + icon
    "
  ></i>

  <span *ngIf="loading && !(loadingIconPosition === 'left')">
    {{ loadingText }}
  </span>

  <i
    *ngIf="loading"
    [class]="
      (loadingIcon || 'fa-solid fa-spinner') +
      (loadingText ? (loadingIconPosition === 'right' ? ' ml-2' : ' mr-2') : '')
    "
  ></i>

  <span *ngIf="loading && loadingIconPosition === 'left'">
    {{ loadingText }}
  </span>

  <span *ngIf="!loading">{{ label }}</span>
</button>
