.btn {
  align-items: center;
  border-radius: 8px;
  padding: 10px 24px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  justify-content: center;
  width: 100%;
}

.primary {
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.primary:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--primary-button-hover-color);
  color: var(--primary-button-text-color);
}

.secondary {
  background-color: var(--primary-color);
  color: var(--primary-button-text-color);
}

.secondary:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.tertiary {
  background-color: var(--card-background-color);
  color: var(--secondary-button-text-color);
}

.tertiary:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-text-color);
}

.quaternary {
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-text-color);
}

.quaternary:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.action {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem;
  display: flex;
  margin: 0;
  box-shadow: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
}

.action-black {
  background: none;
  border: none;
  color: black;
  padding: 0.5rem;
  display: flex;
  margin: 0;
  box-shadow: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

.square-sm {
  width: 32px;
}

.square-md {
  width: 38px;
}

.square-lg {
  width: 45px;
}

.sm,
.md,
.lg,
.none {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm {
  font-size: 0.9rem;
  padding: 0.25rem 1rem;
  height: 32px;
}

.md {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  height: 38px;
}

.lg {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  height: 45px;
}

.none {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.square-none {
  width: 38px;
}

.ml-2 {
  margin-left: 8px;
}

.mr-2 {
  margin-right: 8px;
}

[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}

.selected-primary {
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-text-color);
}

.selected-quaternary {
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
}

.transparent {
  background-color: transparent;
  color: var(--primary-button-color);
  box-shadow: none;
}

.white {
  color: var(--primary-button-text-color);
}

.black {
  color: var(--secondary-button-text-color);
}
