.welcome-section {
  background: linear-gradient(135deg, var(--background-color) 0%, #e8e4f0 80%);
  // background: var(--background-color);
  height: calc(100vh - 4rem);
  display: flex;
}

.welcome-content {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.text-container {
  margin-left: 2rem;
  max-width: 600px;
  z-index: 1;
  transform: translateY(-30px);

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-text-color);
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: #757575;
    margin: 0 0 2rem 0;
    line-height: 1.2;
  }
}

.image-container {
  flex: 1;
  min-height: 500px;
  background-image: url("../../assets/landing_main_image.jpeg");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  animation: floatImage 5s infinite alternate ease-in-out;

  @keyframes floatImage {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-15px);
    }
  }
}
