<div class="graphic-container">
  <div class="filter">
    <fbutton
      label="Rutinas Completadas"
      icon="''"
      (onClick)="selectType('completed')"
      color="action-black"
    ></fbutton>
    <fbutton
      label="Rutinas Planeadas"
      icon="''"
      (onClick)="selectType('planned')"
      color="action-black"
    ></fbutton>
    <label for="years" class="visually-hidden" *ngIf="false">Año</label>
    <select id="years" class="year-selector" (change)="selectYear($event)">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="content">
    <img
      class="graphic"
      *ngIf="selectedGraphic"
      [src]="selectedGraphic.src"
      alt="'imagen no cargada'"
    />
  </div>
</div>
