<div
  class="image-viewer-modal"
  *ngIf="show"
  (keydown)="handleKeydown($event)"
  tabindex="0"
>
  <div class="image-viewer-content">
    <button class="close-button" (click)="closeViewer()">
      <i class="fa-solid fa-times"></i>
    </button>

    <div
      class="image-container"
      [class.zoomed]="isZoomed"
      (click)="toggleZoom()"
    >
      <img
        *ngIf="image"
        [src]="image.photoUrl"
        [alt]="image.description"
        class="full-image"
      />
    </div>

    <div class="navigation-controls" *ngIf="images.length > 1">
      <button class="nav-button prev-button" (click)="prevImage()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <div class="image-counter" *ngIf="image">
        {{ image.videoTimestamp }} / {{ image.description }}
      </div>
      <button class="nav-button next-button" (click)="nextImage()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
