.footer {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 3rem 2rem;
}

.footer-container {
  margin: 0 2rem;
  display: flex;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;

  .logo {
    margin-bottom: 1rem;
  }

  .copyright {
    p {
      font-size: 0.8rem;
      margin: 0.2rem 0;
    }
  }

  .social-icons {
    display: flex;
    gap: 0.8rem;

    .social-icon {
      color: var(--secondary-text-color);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }
}

.footer-right-section {
  display: flex;
  gap: 2rem;
}

.footer-links-section {
  margin-right: 2rem;

  h3 {
    font-weight: 1000;
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;

      a {
        color: var(--secondary-text-color);
        text-decoration: none;
        transition: opacity 0.3s;
        font-size: 0.8rem;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.footer-newsletter {
  h3 {
    font-weight: 1000;
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 0.1rem 0.1rem 0.1rem 1rem;
    width: 100%;
    max-width: 320px;

    input {
      background: transparent;
      border: none;
      color: var(--secondary-text-color);
      width: 100%;
      font-size: 0.95rem;
      outline: none;

      &::placeholder {
        color: var(--secondary-text-color);
        opacity: 0.9;
      }
    }

    button {
      background: transparent;
      border: none;
      color: var(--secondary-text-color);
      cursor: pointer;
      padding: 8px;
      display: flex;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
        color: var(--secondary-text-color);
      }
    }
  }
}
