/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$primary-color: #7660A6;
$secondary-color: #FAF7F6;
$background-color: #FAF7F6;
$primary-button-color: #392973;
$primary-button-hover-color: #5A4B8A;
$primary-button-border-color: #392973;
$secondary-button-color: #E3E3E3;
$secondary-button-hover-color: #f8f5f5;
$secondary-button-border-color-hover: #767676;
$primary-text-color: #1E1E1E;
$secondary-text-color: #F3F3F3;

body {
  margin: 0;
  padding: 0;
}
