<div [class]="'custom-dropdown ' + containerClass" [class.disabled]="disabled">
  <!-- Label -->
  <label
    *ngIf="labelField"
    [for]="id"
    [class]="labelClass"
    [class.required]="required"
    [class.error]="showError"
  >
    {{ labelText }}
    <span *ngIf="required" class="required-mark">*</span>
  </label>

  <!-- Dropdown Button -->
  <div
    class="dropdown-container"
    [class.error]="showError"
    [class.disabled]="disabled"
    [class]="selectClass"
  >
    <button
      type="button"
      [id]="id"
      [name]="name"
      (click)="toggle()"
      (blur)="onBlur()"
      (focus)="onFocus()"
      [disabled]="disabled"
      #origin
      class="dropdown-button"
    >
      <ng-template [ngIf]="!isOpen" [ngIfElse]="searchTpl">
        <span
          [class.placeholder]="!model"
          >{{ model?.[labelField] || 'Select with suggestion' }}</span
        >
      </ng-template>

      <ng-template #searchTpl>
        <input
          [formControl]="searchControl"
          class="search-input"
          placeholder="Buscar..."
          (click)="$event.stopPropagation()"
        />
      </ng-template>

      <span class="dropdown-icon" [class.open]="isOpen">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
    </button>

    <!-- Dropdown Menu (dentro del componente) -->
    <div *ngIf="isOpen" class="select-menu" #dropdownMenu>
      <!-- Virtual Scroll para muchas opciones -->
      <cdk-virtual-scroll-viewport
        *ngIf="filteredOptions.length > 10"
        itemSize="32"
        class="virtual-scroll-viewport"
      >
        <div *ngIf="!filteredOptions.length" class="no-results">
          No se encontraron resultados...
        </div>

        <div
          *cdkVirtualFor="let option of filteredOptions; trackBy: trackByFn"
          [class.active]="isActive(option)"
          (click)="select(option)"
          class="option-item"
        >
          <ng-template [ngIf]="!optionTpl">
            {{ option[labelField] ? option[labelField] : option }}
          </ng-template>

          <ng-container
            *ngTemplateOutlet="
              optionTpl || null;
              context: { $implicit: option }
            "
          >
          </ng-container>
        </div>
      </cdk-virtual-scroll-viewport>

      <!-- Lista normal para pocas opciones -->
      <div *ngIf="filteredOptions.length <= 10" class="options-list">
        <div *ngIf="!filteredOptions.length" class="no-results">
          No se encontraron resultados...
        </div>

        <div
          *ngFor="let option of filteredOptions; trackBy: trackByFn"
          [class.active]="isActive(option)"
          (click)="select(option)"
          class="option-item"
        >
          <ng-template [ngIf]="!optionTpl">
            {{ option[labelField] }}
          </ng-template>

          <ng-container
            *ngTemplateOutlet="
              optionTpl || null;
              context: { $implicit: option }
            "
          >
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message -->
  <div
    *ngIf="showError && errorMessage"
    [class]="'error-message ' + errorClass"
  >
    <span class="error-icon">{{ errorIcon }}</span>
    <span>{{ errorMessage }}</span>
  </div>

  <!-- Suggestion Message -->
  <div
    *ngIf="showSuggestion && suggestionMessage"
    [class]="'suggestion-message ' + suggestionClass"
  >
    <i
      [class]="(suggestionMessage ? 'mr-2' : 'ml-2') + ' ' + suggestionIcon"
    ></i>
    <span>{{ suggestionMessage }}</span>
  </div>
</div>
